{% extends "temp_app/base.html" %}
{% load static %}
{% block content %}
<div class="bg-secondary p-5">
   
    <h1 class="text-uppercase mb-4">add new services</h1>
    <form action="{% url 'add_service' %}" method="POST" onsubmit="return sub()">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-md-6">
                 <div class="form-floating">
                    <input type="file" class="form-control bg-transparent" id="ser_img" name="ser_img" oninput="rub()" placeholder="productName">
                    <label for="name">service_img</label>
                    <span id="span_id" style="color: red;"></span>
                </div> 
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control bg-transparent" id="ser_name" name="ser_name" oninput="rub()" placeholder="productName">
                    <label for="name">service_name</label>
                    <span id="span_id" style="color: red;"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control bg-transparent" id="ser_price" name="ser_price"  oninput="rub()" placeholder="productprice">
                    <label for="ser_price">Price</label>
                    <span id="span_id_price" style="color: red;"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control bg-transparent" id="ser_desc" name="ser_desc"  oninput="rub()" placeholder="pro_desc">
                    <label for="name">product_description</label>
                    <span id="span_id_desc" style="color: red;"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <input type="datetime-local" class="form-control bg-transparent" id="time" name="ser_date_time" placeholder="Your Email">
                    <label for="datetime">time</label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit" > 
                    ADD    
                </button>
            </div>
            
            
           
        </div>
    </form>
</div>



<script>
    function sub()
    {
        ser_name=document.getElementById("ser_name").value
        if(user=="")
        {
            document.getElementById("span_id").innerHTML="*ser_name must be required"
            return false
        }
        else if(ser_name.length<2||ser_name.length>10)
        {
            document.getElementById("span_id").innerHTML="*ser_name should not be less than 2 and more than 10"
            return false
        }
        

        pro_desc=document.getElementById("ser_desc").value
        if(ser_desc=="")
        {
            document.getElementById("span_id_desc").innerHTML="*service_description name must be filled"
            return false
        }
        

        ser_price=document.getElementById("ser_price").value
        if(ser_price="")
        {
            document.getElementById("ser_price").innerHTML="*your ser_price id is nesscessry"
            return false
        }
        else if(isNaN(ser_price))
        {
            document.getElementById("ser_price").innerHTML="*price is not in char"
            return false
        }
        



    }
    function rub()
    {
        document.getElementById("span_id").innerHTML=""
        document.getElementById("span_id_fname").innerHTML=""
        document.getElementById("span_id_lname").innerHTML=""
    } 
</script>
{% endblock %}